<h1>All Professors</h1>

<% @professors.each do |professor| %>
<section class = "professor">
  <h4> Name: <%=professor.name %> </h4>
  <p> Age: <%=professor.age %> <br>
   Specialty: <%=professor.specialty%><br> </p>
 </section>
<% end %>
